@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  /* Color */
  --color-btn: aliceblue;
  --color-primary: #00e5ff;
  --color-white: #fff;
  --color-black: #140a00;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: rgba(65, 13, 13, 0.979);
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #6effff;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  
  --color-box-shadow: rgb(173, 234, 234);

  /* Font Size */
  --font-large: 28px;
  --font-medium: 24px;
  --font-small: 20px;
  --font-micro: 16px;
}

/* -------------------dark theme variables------------------- */
.dark-theme-variables {
  --color-btn: #15171c;
  --color-primary: #353942;
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

.theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  border-radius: var(--border-radius-1);
}

.theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-toggler span.active {
  background: var(--color-primary);
  color: white;
  border-radius: var(--border-radius-1);
}
/* ----------------base.css---------------- */


.header {
  position: sticky;
  z-index: 11;
  top: 0px;
  background-color: var(--color-background);
  padding: 5px;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 0 0 10px 10px;
  box-shadow: 0.1em 0.2em 0.5em var(--color-box-shadow);
  display: flex;
  align-items: center;
  height: 70px;

}

.headerTitle {
  margin: 0 20px;
  font-size: var(--font-large);
  font-weight: bold;
  color: var(--color-dark);
}

.headerLogo {
  margin-left: 4px;
  padding: 4px;
  width: 50px;
  border-radius: 40%;
  position: relative;
  border: 1px solid var(--color-primary);
}

.logoMenu {
  width: 100%;
  padding: 0px;
  font-size: var(--font-small);
  display: flex;
  justify-content: space-around;
}

.logoMenu.active {
  height: 90vh;
}

.menus {
  text-decoration: none;
  color: var(--color-dark);
}

.menusH3 {
  padding: 4px;
  border: 2px solid transparent;
  transition: all 300ms ease;
}

.menusH3:hover {
  padding: 4px;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius-1);
}

.body {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* 원 큰 모드 */
/* Timer */
.timer {
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}

#time {
  display: flex;
  gap: 10px;
  color: var(--color-dark);
}

#time .circle {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
  transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

#time div span {
  position: absolute;
  transform: translateX(-50%) translateY(-10%);
  font-size: 0.35em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .ap {
  position: relative;
  font-size: 1em;
  transform: translateX(-20px);
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.dots::before {
  content: "";
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}

/* Timer 원 작은 mode */
/* .timer {
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time {
  display: flex;
  gap: 20px;
  color: var(--color-dark);
}

#time .circle {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time .circle svg {
  position: relative;
  width: 70px;
  height: 70px;
  transform: rotate(270deg);
}

#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #191919;
  stroke-width: 4;
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 220;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
}

#time div span {
  position: absolute;
  transform: translateX(-50%) translateY(-40%);
  font-size: 0.35em;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .ap {
  position: relative;
  font-size: 1em;
  transform: translateX(-20px);
}

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.dots::before {
  content: '';
  position: absolute;
  top: -6px;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
} */

/* body button */
.bodyBtn {
  box-shadow: 0.1em 0.2em 0.5em var(--color-box-shadow);
  font-size: var(--font-medium);
  font-weight: bold;
  background-color: var(--color-btn);
  color: var(--color-dark);
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid rgba(230, 248, 245, 0.944);
}

.bodyBtn:hover {
  transition: background-color 0.5s;
  background-color: var(--color-primary);
}

.toggleBtn {
  display: none;
  position: absolute;
  right: 16px;
  font-size: var(--font-large);
  color: var(--color-dark);
}


@media all and (max-width: 412px) {
  .bodyBtn {
    width: 150px;
    height: 150px;
  }
}

@media all and (max-width: 1000px) {
  .toggleBtn {
    display: block;
  }

  .logoMenu {
    display: none;
    margin: 0;
    padding: 8px;
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-1);
    background-color: var(--color-background);
    box-shadow: var(--color-box-shadow);
    width: 12rem;
    position: absolute;
    top: 64px;
    right: 12px;
    flex-direction: column;
    transition: all 900ms ease;
  }
  
  .logoMenu.active {
    height: 60vh;
    display: flex;
    justify-content: flex-start;
    transition: all 900ms ease;
  }

  .menus {
    padding: 5px;
    text-decoration: none;
    color: var(--color-dark);
    font-weight: 600;
  }

  .menusH3 {
    margin: 0;
  }
}

/* @media all and (min-width: 768px) {

}

@media all and (min-width: 1024px) {

} */